
  
  .mySwiper2 .swiper-slide {
    width: 100%;
    height: 100%;
    /* opacity: 0.4; */
  }
  

  
  .img{
    display: block;
    width: 100%;
    height: 100%;
    /* height: '150px'; */
    object-fit: cover;
  }

  .mySwiper2 {
    height: 100%;
    width: 100%;
  }

  .mySwiper3 {
    height: 100%;
    width: 100%;
  }

  .mySwiper3 .swiper-slide {
    width: 100%;
    height: 100%;
    /* opacity: 0.4; */
  }


  #imagemagnifier{
    /* width: 500px; */
    /* height: 1000px; */
    position: relative;
  } 


  .mySwiper2 .swiper-button-next{
    background-color: whitesmoke; /* Change to your desired color */
    color: black !important; /* Text color */
    width: 20px !important; /* Adjust the width to your desired size */
    height: 20px !important; /* Adjust the height to your desired size */
    opacity: 0.8;
    line-height: 40px;
    margin-right: 0px !important;
    
  }
  
  .mySwiper2 .swiper-button-prev {
    background-color: whitesmoke; /* Change to your desired color */
    color: black !important; /* Text color */
    width: 20px !important; /* Adjust the width to your desired size */
    height: 20px !important; /* Adjust the height to your desired size */
    opacity: 0.8; 
    line-height: 40px;
  }


  .mySwiper3 .swiper-button-next{
    background-color: whitesmoke; /* Change to your desired color */
    color: black !important; /* Text color */
    width: 20px !important; /* Adjust the width to your desired size */
    height: 20px !important; /* Adjust the height to your desired size */
    opacity: 0.8;
    line-height: 40px;
    margin-right: 0px !important;
    
  }
  
  .mySwiper3 .swiper-button-prev {
    background-color: whitesmoke; /* Change to your desired color */
    color: black !important; /* Text color */
    width: 20px !important; /* Adjust the width to your desired size */
    height: 20px !important; /* Adjust the height to your desired size */
    opacity: 0.8; 
    line-height: 40px;
  }


  